body {

background-color: rgb(255, 246, 246);
}
iframe{
    margin-left: 30%;
}
a{
    font-style: italic;
    margin-left:40%;
    color: rgb(255, 144, 144);
}
h1{
    margin-left: 40%;
color: rgb(180, 125, 125);
}

